# SPDX-FileCopyrightText: Tobias Knöppler <thecalcaholic@web.de>
# SPDX-License-Identifier: AGPL-3.0-or-later
.idea
*.iml
/vendor/
/vendor-bin/**/vendor/
/build/
node_modules/
/.php-cs-fixer.cache
.phpunit.result.cache
js/*hot-update.*
js/
.vscode/settings.json
